* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 36px;
}

h2 {
    color: red;
}

main {
    border: 1px solid gray;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    outline: none;
}

input[type="submit"] {
    display: block;
    width: auto;
}

pre {
    margin-bottom: 24px;
}

pre:hover {
    cursor: pointer;
}
